/* start fram work*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Public Sans', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    position: relative;
}

.table {
    height: 100%;
    display: table;
}

.table-row {
    display: table-row;
}


.text-center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.main-color {
    color: #f7600e;
}

.main-background {
    background-color: #f7600e;
}

.overlay {
    background: rgba(49, 55, 61, .7);
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

::-webkit-input-placeholder {
    font-size: 14px;
}

/* end fram work*/

/* start header*/

.header {
    /* background: url(../image/1.jpg); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
}



.header .navbar {
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .navbar .links {
    float: right;
}

.header .navbar .links i {
    margin-left: 5px;
}

.header .intro h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
}


.header .intro p {
    margin: 5px 0 40px;
    line-height: 1.9;
    font-size: 16px;
    color: #E2E2E2;
}


.header .buttons button {
    background: transparent;
    padding: 10px 0;
    width: 120px;
    font-size: 12px;
    border: 1px solid #909090;
    margin: 0 8px;
    border-radius: 10px; 
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: #FFF;
}

.header .buttons button:hover {
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #FFF;
}


.header .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.header .arrow i {
    border: 2px solid #7B7B7B;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    line-height: 33px;
    cursor: pointer;
}

@media (min-width: 1440px) {

    

.header .navbar {
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .navbar .links {
    float: right;
}

.header .navbar .links i {
    margin-left: 5px;
}

.header .intro h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 800;
}


.header .intro p {
    margin: 5px 0 40px;
    line-height: 1.9;
    font-size: 20px;
    color: #E2E2E2;
}


.header .buttons button {
    background: transparent;
    padding: 10px 0;
    width: 180px;
    font-size: 14px;
    border: 1px solid #909090;
    margin: 0 8px;
    border-radius: 10px; 
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: #FFF;
}

.header .buttons button:hover {
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #FFF;
}


.header .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.header .arrow i {
    border: 2px solid #7B7B7B;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    line-height: 33px;
    cursor: pointer;
}
}

.menu {
    background-color: tomato;
    width: 50%;
    margin-left: 50%;
}

/* end header*/

/* start features */

.features {
    padding: 80px 0;
    overflow: hidden;
}

.features .box {
    width: 22%;
    float: left;
    margin-right: 4%;
}

.features .box:last-child {
    margin-right: 0;
}

.features .box i {
    color: #f7600e;
    border: 1px solid#CCC;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    line-height: 120px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.features .box i:hover {
    background-color: #f7600e;
    color: #CCC;
    border: 1px solid #f7600e;
}

.features .box h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #505050;
}

.features .box p {
    line-height: 1.9;
    color: #888;
}

@media (min-width: 1440px) { 

    .features {
        padding: 80px 0;
        overflow: hidden;
    }
    
    .features .box {
        width: 22%;
        float: left;
        margin-right: 4%;
    }
    
    .features .box:last-child {
        margin-right: 0;
    }
    
    .features .box i {
        color: #f7600e;
        border: 1px solid#CCC;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        line-height: 120px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .features .box i:hover {
        background-color: #f7600e;
        color: #CCC;
        border: 1px solid #f7600e;
    }
    
    .features .box h2 {
        text-transform: uppercase;
        font-weight: normal;
        color: #505050;
    }
    
    .features .box p {
        line-height: 1.9;
        color: #888;
    }
}



/* end features */

/* start subscribe*/

.subscribe {
    background: url(../image/2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFf;
}

.subscribe form {
    width: 700px;
    margin: auto;
    padding: 100px 0;
    text-align: center;
}

.subscribe form input[type="email"] {
    padding: 0 10px;
    width: 320px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    top: 2px;
    border: none;
    height: 37px;
    line-height: 37px;
}

.subscribe form button {
    padding: 10px;
    width: 200px;
    border: 1px s;
    background-color: #f7600e;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 14px;
    color: #FFF;
}

.subscribe ::-webkit-input-placeholder {
    font-size: 14px;
}

@media (min-width: 1440px) {

    .subscribe .overlay form {
        margin-left: 17%;
    }
}


/* end subscribe*/

/* start our work*/

.our-works {
    padding: 50px 0;
}


.our-works h2 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0;
}

.our-works p {
    line-height: 2;
    margin: 10px 0 40px;
}

.our-works .showmore,
    .our-works .showless {
    background: transparent;
    border: 1px solid #CCC;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: #555;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.our-works .showmore:hover,
    .our-works .showless:hover {
    background-color: #f7600e;
    color: #CCC;
    border: 1px solid #f7600e;
}

.our-works .items-box {
    overflow: hidden;

}

.our-works .items-box .item {
    float: left;
    overflow: hidden;
    width: 32%;
    margin-left: 1.3333%;
    margin-bottom: 12px;
    border-radius: 10px;
    position: relative;
}

.our-works .items-box .item:hover .over {
    display: block;
}


.our-works .items-box .item .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 96, 14, .9);
    color: #FFF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: none;
}

.our-works .items-box .item .over h4 {
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 0;
}

.our-works .items-box .item .over p {
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 2;
}

.our-works .items-box .item .over button {
    background-color: transparent;
    border: 1px solid #FFF;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.our-works .items-box .item .over button:hover {
    background-color: #FFF;
    color: #CCC;
    border: 1px solid #FFF;
}



@media (min-width: 1440px) {

    .our-works {
        padding: 50px 0;
    }
    
    
    .our-works h2 {
        font-weight: 500;
        font-size: 35px;
        margin-bottom: 0;
    }
    
    .our-works p {
        line-height: 2;
        margin: 10px 0 40px;
    }
    
    .our-works .showmore,
    .our-works .showless {
        background: transparent;
        border: 1px solid #CCC;
        width: 180px;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        color: #555;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    
    .our-works .showmore:hover,
    .our-works .showless:hover {
        background-color: #f7600e;
        color: #CCC;
        border: 1px solid #f7600e;
    }
    
    .our-works .items-box {
        overflow: hidden;
    
    }
    
    .our-works .items-box .item {
        float: left;
        overflow: hidden;
        width: 32%;
        margin-left: 1.3333%;
        margin-bottom: 12px;
        border-radius: 10px;
        position: relative;
    }
    
    .our-works .items-box .item:hover .over {
        display: block;
    }
    
    
    .our-works .items-box .item .over {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(247, 96, 14, .9);
        color: #FFF;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        display: none;
    }
    
    .our-works .items-box .item .over h4 {
        font-size: 24px;
        margin-top: 80px;
        margin-bottom: 0;
    }
    
    .our-works .items-box .item .over p {
        margin-top: 10px;
        margin-bottom: 50px;
        line-height: 2;
    }
    
    .our-works .items-box .item .over button {
        background-color: transparent;
        border: 1px solid #FFF;
        width: 180px;
        padding: 10px;
        border-radius: 10px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .our-works .items-box .item .over button:hover {
        background-color: #FFF;
        color: #CCC;
        border: 1px solid #FFF;
    }
}


/* start our work*/

/* start testimonials */ 

.testin {
    /* background: url(../image/2.jpg); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.testin .client {
    padding: 50px 0;
    color: #FFF;
    font-size: 20px;
}

.testin .client img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.testin .client p {
    line-height: 2;
    font-style: italic;
}

.testin .fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 0;
    color: #999;
    cursor: pointer;
}


.testin .fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 0;
    color: #999;
    cursor: pointer;
}

.testin .fa-chevron-right:hover,
.testin .fa-chevron-left:hover {
    color: #f7600e;
}

@media (min-width: 1440px) {

    .testin .client {
        padding: 50px 0;
        color: #FFF;
        font-size: 20px;
    }
    
    .testin .client img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    
    .testin .client p {
        line-height: 2;
        font-style: italic;
    }
    
    .testin .fa-chevron-right {
        position: absolute;
        top: 50%;
        right: 0;
        color: #999;
        cursor: pointer;
    }
    
    
    .testin .fa-chevron-left {
        position: absolute;
        top: 50%;
        left: 0;
        color: #999;
        cursor: pointer;
    }
}


/* end testimonials */ 

/* start our work */

.our-team {
    padding: 50px 0;
}

.our-team h2 {
    font-size: 35px;
    margin-bottom: 0;
}

.our-team .main {
    margin: 10px 0 40px;
    line-height: 2;
    color: #666;
    font-size: 20px;
}

.our-team .the-team {
    overflow: hidden;
}


.our-team .the-team .person {
    float: left;
    width: 24%;
    margin-left: 1%;
    color: #888;
}


.our-team .the-team .person:hover img {
    filter: none;
    -webkit-filter: grayscale(0);
}


.our-team .the-team .person:hover  {
    color: #555;
}

.our-team .the-team .person:hover .fa-facebook {
    background-color: #3b5998;
}


.our-team .the-team .person:hover .fa-twitter {
    background-color: #55acee;
}


.our-team .the-team .person:hover .fa-google-plus {
    background-color: #dc4e41;
}


.our-team .the-team .person img {
    width: 200px;
    height: 300px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}


.our-team .the-team .person p {
    font-size: 15px;
}

.our-team .the-team .person .social i {
    background-color: #9da1a5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    border-radius: 50%;
}


@media (min-width: 1440px) {

    .our-team {
        padding: 50px 0;
    }
    
    .our-team h2 {
        font-size: 35px;
        margin-bottom: 0;
    }
    
    .our-team .main {
        margin: 10px 0 40px;
        line-height: 2;
        color: #666;
        font-size: 20px;
    }
    
    .our-team .the-team {
        overflow: hidden;
    }
    
    
    .our-team .the-team .person {
        float: left;
        width: 24%;
        margin-left: 1%;
        color: #888;
    }
    
    
    .our-team .the-team .person:hover img {
        filter: none;
        -webkit-filter: grayscale(0);
    }
    
    
    .our-team .the-team .person:hover  {
        color: #555;
    }
    
    .our-team .the-team .person:hover .fa-facebook {
        background-color: #3b5998;
    }
    
    
    .our-team .the-team .person:hover .fa-twitter {
        background-color: #55acee;
    }
    
    
    .our-team .the-team .person:hover .fa-google-plus {
        background-color: #dc4e41;
    }
    
    
    .our-team .the-team .person img {
        width: 200px;
        height: 300px;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }
    
    
    .our-team .the-team .person p {
        font-size: 15px;
    }
    
    .our-team .the-team .person .social i {
        background-color: #9da1a5;
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: #FFF;
        border-radius: 50%;
    }
    
}

/* start our work */

/* start comtact */

.contact {
    background: url(../image/2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact .overlay {
    padding: 20px 0;
    color: #fff;
}

.contact h2 {
    font-size: 35px;
}

.contact form {
    width: 700px;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
}

.contact form input[type="text"],
.contact form input[type="email"] {
    width: 48%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid #CCC;
}

.contact form input[type="text"] {
    float: left;
}

.contact form input[type="email"] {
    float: right ;   
}

.contact form textarea {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #CCC;
}

.contact form .info {
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.contact form .info button {
    float: left;
    padding: 10px;
    width: 200px;
    border: 1px ;
    background-color: #f7600e;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    color: #FFF;
}

.contact form .info .form-icons {
    width: 30%;
    margin-right: 12%;
}

.contact form .info .form-icons i {
    float: right;
    background-color: #9da1a5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    border-radius: 50%;
}


.contact form .info .form-icons .fa-facebook {
    background-color: #3b5998;
}


.contact form .info .form-icons .fa-twitter {
    background-color: #55acee;
}


.contact form .info .form-icons .fa-google-plus {
    background-color: #dc4e41;
}

/* end comtact */

/* start footer */

.footer {
    background-color: #3b434c;
    color: #fff;
    overflow: hidden;
    padding: 10px 0;
}

.footer .copy {
    float: left;
}

.footer .desgin {
    float: right;
}


/* end footer */ 

@media (min-width: 320px) and (max-width: 374px) {
    
    
    .header .navbar span {
        margin-right: 10px;
    }

    .header .table-row h1 {
        font-size: 30px;
    }

    .header .table-row p {
        font-size: 15px;
        padding: 10px;
        line-height: 1.5;
    }

    .header .table-row .buttons {
        width: 100%;
    }

    .header .table-row .buttons button{
        width: 50%;
        float: none;
        margin-bottom: 10px;
    }

    
    .features .box {
        width: 100%;
        float: none;
    }

    .features .box p {
        font-size: 15px;
    }

    .subscribe .overlay form {
        width: 100%;
    }
    
    
    .subscribe .overlay form {
        margin-left: -55%;
    }


    .subscribe .overlay form input {
       width: 250px;
       margin-left: 55%;
    }

    .subscribe .overlay form button {
        width: 100px;
        margin-left: 85%;
        margin-top: 5%;
    }


    
    .our-works h2 {
        width: 100%;
    }

    .our-works p {
        width: 100%;
        font-size: 15px;
    }

    .our-works .items-box {
        float: none;
    }

    .our-works .items-box .item {
        width: 100%;

    }

    .testin .overlay .client {
        width: 100%;
        font-size: 11px;
    }

    .testin .overlay i {
        width: 0%;
        top: 45%;
    }

    
    .our-team .the-team .person {
        width: 100%;
    }

    .our-team .the-team .person p {
        width: 110%;
        font-size: 20px;
    }

    .our-team .the-team .person img {
        width: 180px !important;
        height: 150px !important;
    }

    .contact form {
        width: 255px;
    }

        
    .contact form input[type="text"] {
        width: 125px ;
        margin-left: 0;
    } 

    .contact form input[type="email"] {
        width: 100px;
        margin-right: 3%;
        margin-bottom: -13%;
    }

    .contact form textarea {
        width: 98%;
        height: 100px;
        margin-right: 69%;    
    }
    
    .contact form .info button {
        margin-left: 0;
        width: 35%;
    }

    .contact form .info .form-icons {
        width: 50%;
        margin-right: 0%;
    }

    
    .contact form .info .form-icons i {
        margin-right: 1%;
    }

    .footer {
        width: 100%;
    }

    .footer span {
        width: 60%;
    }
    .footer .copy {
        width: 35%;
    }

    .footer .desgin {
        width: 35%;
    }

    

}

@media (min-width: 375px) and (max-width: 424px) {

    .header .navbar span {
        margin-right: 10px;
    }

    .header .table-row h1 {
        font-size: 30px;
    }

    .header .table-row p {
        font-size: 15px;
        padding: 10px;
        line-height: 1.5;
    }

    .header .table-row .buttons {
        width: 100%;
    }

    .header .table-row .buttons button{
        width: 50%;
        float: none;
        margin-bottom: 10px;
    }
    .features .box {
        width: 100%;
        float: none;
    }

    .features .box p {
        font-size: 18px;
    }

    .subscribe form {
        width: 300px;
    }

    .subscribe .overlay form {
        margin-left: -40%;
    }


    .subscribe .overlay form input {
        width: 250px;
        margin-left:46%;
     }
 
     .subscribe .overlay form button {
        width: 100px;
        margin-left: 70%;
        margin-top: 5%;
     }
    
    
    .our-works h2 {
        width: 100%;
    }

    .our-works p {
        width: 100%;
        font-size: 15px;
    }

    .our-works .items-box {
        float: none;
    }

    .our-works .items-box .item {
        width: 100%;

    }



    .our-team .the-team .person {
        width: 100%;
    }

    .our-team .the-team .person p {
        width: 110%;
        font-size: 20px;
    }

    .our-team .the-team .person img {
        width: 180px !important;
        height: 150px !important;
    }

    .contact form {
        width: 300px;
    }

    
    .contact form input[type="text"] {
        width: 150px ;
        margin-left: 0;
    } 

    .contact form input[type="email"] {
        width: 103px;
        margin-right: 8%;
        margin-bottom: 0%;
    }

    .contact form textarea {
        width: 92%;
        height: 100px;
        margin-right: 69%;    
    }
    
    .contact form .info button {
        margin-left: 0;
        width: 35%;
    }

    .contact form .info .form-icons {
        width: 32%;
        margin-right: 7%;
    }

    
    .contact form .info .form-icons i {
        margin-right: 1%;
    }

    .footer {
        width: 100%;
    }

    .footer span {
        width: 60%;
    }
    .footer .copy {
        width: 35%;
    }

    .footer .desgin {
        width: 35%;
    }


}

@media (min-width: 425px) and (max-width: 767px) {

    .features .box {
        width: 100%;
        float: none;
        margin-right: 4%;
    }

    .features .box p {
        font-size: 18px;
    }

    .subscribe .overlay form {
        margin-left: -68%;
    }

    .subscribe form {
        width: 432px;
    }

    .subscribe .overlay form input {
       width: 27%;
    }

    .subscribe .overlay form button {
        width: 25%;
        margin-right: -80%;
    }

    .our-works h2 {
        width: 100%;
    }

    .our-works p {
        width: 100%;
        font-size: 14px;
    }

    .our-works .items-box {
        float: none;
    }

    .our-works .items-box .item {
        width: 100%;

    }

    .testin .overlay .client {
        width: 100%;
        font-size: 12px;
    }

    .testin .overlay i {
        width: 0%;
        top: 45%;
    }

    .our-team h2 {
        width: 100%;
    }

    .our-team .main {
        width: 100%;
        font-size: 15px;
    }
    
    .our-team .the-team .person {
        width: 100%;
    }

    .our-team .the-team .person p {
        width: 110%;
        font-size: 20px;
    }
    

    .contact .overlay h2 {
        width: 100%;
    }

    .contact .overlay p {
        width: 100%;
        font-size: 15px;
    }

    .contact form {
        width: 100%;
        float: none;
    }

    .contact form input[type="text"] {
        width: 150px;
        margin-left: 150px;
    } 

    .contact form input[type="email"] {
        width: 120px;
        margin-right: 60%;
        margin-bottom: -12%;
    }

    .contact form textarea {
        width: 83%;
        height: 50%;
        margin-right: 5%;
    }
    
    .contact form .info button {
        margin-left: 6%;
        width: 40%;
    }

    
    .contact form .info .form-icons i {
        margin-right: 1%;
    }
    .footer {
        width: 100%;
    }

    .footer span {
        width: 60%;
    }
    .footer .copy {
        width: 35%;
    }

    .footer .desgin {
        width: 35%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .header .table-row h1 {
        font-size: 30px;
    }

    
    .header .table-row p {
        font-size: 15px;
        padding: 10px;
        line-height: 1.5;
    }

    .features .box {
        width: 50%;
        float: left;
        margin-right: 0;
    }


    .features .box p {
        font-size: 18px;
    }

    .subscribe .overlay form {
        margin-left: -10%;
    }


    .subscribe .overlay form input {
       width: 250px;
       height: 35px;
    }

    .subscribe .overlay form button {
        width: 100px;
        height: 35px;
    }

       

    .our-works p {
        font-size: 15px;
    }


    .our-works .items-box .item {
        width: 50%;
        margin-left: 0;
    }

    .our-team .the-team .person {
        width: 50%;
        margin: auto;
    }

    .our-team .the-team .person p {
        width: 100%;
        font-size: 20px;
    }

    .contact form {
        width: 690px;
    }

    
    .contact form input[type="text"] {
        width: 29%;
        margin-left: 17%;
    } 

    .contact form input[type="email"] {
        width: 29%;
        margin-right: 22%;
        margin-bottom: -12%;
    }

    .contact form textarea {
        width: 61%;
        height: 86%;
        margin-right: 5%;
    }
    .contact form .info button {
        margin-left: 17%;
        width:20%;
    }

    
    .contact form .info .form-icons {
        margin-right: 21%;
    }
}

@media (min-width: 1024px){
    
    .contact h2 {
        font-size: 30px;
    }   

    .contact p {
        font-size: 18px;
    }

    .contact form input[type="text"] {
        width: 40%;
        margin-left: 5%;
    } 

    .contact form input[type="email"] {
        width: 40%;
        margin-right: 10%;
        margin-bottom: -12%;
    }

    .contact form textarea {
        width: 85%;
        height: 125px;
        margin-right: 5%;
        
    }
    .contact form .info button {
        margin-left: 5%;
        width: 18%;
        padding: 2%;
        font-size: 16px;
    }
    .contact form .info .form-icons {
        width: 30%;
        margin-right: 10%;
    }
    
    .header .navbar span {
        margin-right: 3%;
        font-size: 16px;
    }


    .header .table-row h1 {
        font-size: 30px;
    }

    
    .header .table-row p {
        font-size: 16px;
        padding: 10px;
        line-height: 1.5;
    }

    .header .table-row .buttons button{
        /* padding: 2%; */
        font-size: 14px;
        /* margin-top: 3%; */
        width: 15%;
    }

    
    .features .box i {
        color: #f7600e;
        border: 1px solid#CCC;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        line-height: 150px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .features .box h3 {
        text-transform: uppercase;
        font-weight: normal;
        color: #505050;
        font-size: 22px;
        font-weight: bold;
    }


    .features .box p {
        font-size: 14px;
    }

    
    .subscribe .overlay form {
        margin-left: auto;
    }

    .subscribe form input[type="email"] {
        width: 390px;
        height: 45px;
        line-height: 65px;
        top: 0;
    }

    .subscribe ::-webkit-input-placeholder {
        font-size: 14px;
    }
    

    .subscribe .overlay form button {
        font-size: 16px;
        height: 45px;
        width: 20%;
    }

    
    .our-works h2 {
        font-size: 35px;
    }

    .our-works p {
        width: 100%;
        font-size: 18px;
    }

    .our-works .items-box .item {
        width: 31.3333%;
        margin-left: 2%;
    }

    .our-works .items-box .item img {
        width: 100%;
    }

    .our-works .items-box .item .over h4 {
        margin-top: 40px;
    }

    .our-works .items-box .item .over p {
        font-size: 10px;
        width: 97%;
    }
    

    .our-works .showmore,.our-works .showless {
        /* padding: 2%; */
        width: 20%;
        font-size: 18px;    
    }
    
    .our-works .items-box .item .over p {
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 2;
        font-size: 14px;
    }

    
    .testin .client img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    .testin .client p {
        line-height: 2;
        font-style: italic;
        font-size: 17px;
    }

        
    .our-team h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
    
    .our-team .main {
        margin: 10px 0 40px;
        line-height: 2;
        color: #666;
        font-size: 18px;
    }

    .footer .copy {
        font-size: 14px;
    }

    .footer .desgin {
        font-size: 14px;
    }
    
}
